@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");



:root{
    --plano-de-fundo:#450D0D;
    --plano-de-fundo-cabecalho:#B18888;
    --titulo-cabecalho: #F2AA93;
    --textos: white;
}

body{
    background-color: white;
}

