@import url("./styles/header.css");



:root{
    --plano-de-fundo:#450D0D;
    --plano-de-fundo-cabecalho:#B18888;
    --titulo-cabecalho: #EB9B00;
    --textos: white;
}

body{
    background-color: white;
}

