.cabecalho__menu-hamburguer{
    background-image: url('../img/menuhamburguer.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--plano-de-fundo-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container--imagem{
    padding: 1em;
}

.lista-menu{
    position: absolute;
    top: 100%;
    width: 70%;
    display: none;

}

.container--botao:checked~.lista-menu{
    display: block;
}

.container--botao{
    display: none;
}


.lista-menu__item, .lista-menu__titulo{
    background-color: var(--plano-de-fundo);
    padding: 1em;
    color: var(--textos);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.lista-menu__titulo{
    color:var(--textos);
    font-weight: 700;
}

.lista-menu__item{
    text-transform:uppercase;
}

.lista-menu__link{
    background-color: var(--textos);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
